/*
* @Author: Shawn Yang
* @Date:   2019-08-07 11:25:54
* @Last Modified by:   Shawn Yang
* @Last Modified time: 2019-08-14 17:17:53
*/
.nav{
    background: #eee;
    height: 30px;
    line-height: 24px;   
}
.nav .user{
    float: left;
}
.nav .user.login{
    display: none;
}
.nav .user .link{
    margin-right: 10px;
}

.nav .nav-list{
    float: right;
}
.nav .nav-list .nav-item{
    display: inline-block;
    margin-left: 15px;
}
