<!DOCTYPE html>
<html lang="en">
    <head>
        <%= require('html-loader!./layout/head-common.html')  %>
        <title>S.Y.Mall - Full Stack Project By S.Y.</title>
    </head>
    <body>
        <%= require('html-loader!./layout/nav.html')  %>
        <%= require('html-loader!./layout/header.html')  %>
        <div class="w">
            <h1 class="credit-name">Credit:</h1>
            <ul class="credit-link">
            <li class="credit-li">
                <a class="credit-picture" href="https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwi0_YTxq6DkAhUVfd4KHYnrB1YQjB16BAgBEAM&url=https%3A%2F%2Fhuskerlandbulldogs.com%2F&psig=AOvVaw0lA9EXSpuyYG9VcLf7VFR2&ust=1566902244663909">Banner1</a>
            </li>
            <li class="credit-li">
                <a class="credit-picture" href="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjKs5awqqDkAhWQHHAKHdJfBhwQjB16BAgBEAM&url=https%3A%2F%2Fwww.123rf.com%2Fphoto_94818575_stock-vector-super-sale-banner-with-set-of-realistic-devices-smartphone-tablet-laptop-and-computer-on-the-colour-.html&psig=AOvVaw0g8AH7Z2B5joEBYz4uu9PH&ust=1566901781434650">
                    Banner2
                </a>
            </li>
            <li class="credit-li">
                <a class="credit-picture" href="https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwijpOLErKDkAhXba94KHdg-Cj0QjB16BAgBEAM&url=https%3A%2F%2Fwww.amazon.in%2FAir-Conditioners%2Fb%3Fie%3DUTF8%26node%3D3474656031&psig=AOvVaw1EqqxAPgU1SOWWH9QWAdH4&ust=1566902420795206">
                    Banner3
                </a>
            </li>
            <li class="credit-li">
                <a class="credit-picture" href="https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwih4qqJq6DkAhUBfd4KHccMBUIQjB16BAgBEAM&url=https%3A%2F%2Fshop.godrejappliances.com%2Fgodrej-refrigerators.html&psig=AOvVaw3r9PqmM6hmTSIxdYnj8vUg&ust=1566902027808178">
                    Banner4
                </a>
            </li>
            <li class="credit-li">
                <a class="credit-picture" href="https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwj3ppqRrKDkAhUQa94KHStRBGsQjB16BAgBEAM&url=https%3A%2F%2Fwww.thedailybeast.com%2Fupgrade-your-sports-watching-with-a-samsung-50-inch-4k-smart-tv-on-sale-now&psig=AOvVaw2ly9ndQJi4oKxTI4XR_KZ8&ust=1566902303844317">
                    Banner5
                </a>
            </li>
            <li class="credit-li">
                <a class="credit-picture" href="https://pokemondb.net/pokedex/national">
                    Pokémon
                </a>
            </li>
        </ul>
        </div>
        
        <%= require('html-loader!./layout/footer.html')  %>

    </body>
</html>