<!DOCTYPE html>
<html lang="en">
    <head> 
        <title>S.Y.Mall - Full Stack Project By S.Y.</title>
    </head>
    <body>
        <%= require('html-loader!./layout/notice.html')  %>
        <%= require('html-loader!./layout/nav.html')  %>
        <%= require('html-loader!./layout/header.html')  %>

        <div class="w">
            <ul class="keywords-list">
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=Phone">Phone</a>
                    <a class="link" target="_blank" href="./list.html?keyword=Pad">Pad</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=Laptop">Laptop</a>
                    <a class="link" target="_blank" href="./list.html?keyword=Gaming">Gaming</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=TV">TV</a>
                    <a class="link" target="_blank" href="./list.html?keyword=Air Conditioner">Air Conditioner</a>
                    <a class="link" target="_blank" href="./list.html?keyword=Refrigerator">Refrigerator</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=Headphones">Headphones</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=Dogs">Dogs</a>
                    <a class="link" target="_blank" href="./list.html?keyword=Cats">Cats</a>
                    <a class="link" target="_blank" href="./list.html?keyword=Pokémon">Pokémon</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=Pembroke">Pembroke</a>
                    <a class="link" target="_blank" href="./list.html?keyword=Samoyed">Samoyed</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=Husky">Husky</a>
                    <a class="link" target="_blank" href="./list.html?keyword=Shepherd">Shepherd</a>
                    <a class="link" target="_blank" href="./list.html?keyword=Pomeranian">Pomeranian</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=Ragdoll">Ragdoll</a>
                    <a class="link" target="_blank" href="./list.html?keyword=Short-hair">Short-hair</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=Silver-Shaded">Silver-Shaded</a>
                    <a class="link" target="_blank" href="./list.html?keyword=箱包">Golden-Shaded</a>
                </li>
                <li class="keywords-item">
                    <a class="link" target="_blank" href="./list.html?keyword=Persian">Persian</a>
                </li>
            </ul>
            <div class="banner-con">
                <div class="loading"></div>
            </div>
        </div>
        <div class="w">
            <div class="floor-wrap">
                <h1 class="floor-title">F1 Electronic Products</h1>
                <ul class="floor-list">
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100021">
                            <span class="floor-text">Laptop</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor4-1.jpg') %>" alt="Laptop" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100022">
                            <span class="floor-text">Phones</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor4-2.jpg') %>" alt="Phones" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100023">
                            <span class="floor-text">Pads</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor4-3.jpg') %>" alt="Pads" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100024">
                            <span class="floor-text">Headphones</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor4-4.jpg') %>" alt="Headphones" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100025">
                            <span class="floor-text">Gaming</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor4-5.jpg') %>" alt="Gaming" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="floor-wrap">
                <h1 class="floor-title">F2 Household Appliances</h1>
                <ul class="floor-list">
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100006">
                            <span class="floor-text">Refrigerator</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor1-1.jpg') %>" alt="Refrigerator" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100007">
                            <span class="floor-text">TV</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor1-2.jpg') %>" alt="TV" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100008">
                            <span class="floor-text">Washing Machine</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor1-3.jpg') %>" alt="Washing Machine" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100009">
                            <span class="floor-text">Air Conditioner</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor1-4.jpg') %>" alt="Air Conditioner" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100010">
                            <span class="floor-text">Dryer</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor1-5.jpg') %>" alt="Dryer" />
                        </a>
                    </li>
                </ul>
            </div>
        	<div class="floor-wrap">
                <h1 class="floor-title">F3 Pokémon</h1>
                <ul class="floor-list">
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100026">
                            <span class="floor-text">Grass</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor5-1.jpg') %>" alt="Grass" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100027">
                            <span class="floor-text">Fire</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor5-2.jpg') %>" alt="Fire" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100028">
                            <span class="floor-text">Water</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor5-3.jpg') %>" alt="Water" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100029">
                            <span class="floor-text">Bug</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor5-4.jpg') %>" alt="Bug" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100030">
                            <span class="floor-text">Electric</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor5-5.jpg') %>" alt="Electric" />
                        </a>
                    </li>
                </ul>
            </div>
 
            <div class="floor-wrap">
                <h1 class="floor-title">F4 Dogs</h1>
                <ul class="floor-list">
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100011">
                            <span class="floor-text">Pembroke</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor2-1.jpg') %>" alt="笔记本电脑" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100012">
                            <span class="floor-text">Samoyed</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor2-2.jpg') %>" alt="Samoyed" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100013">
                            <span class="floor-text">Husky</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor2-3.jpg') %>" alt="Husky" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100014">
                            <span class="floor-text">Shepherd</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor2-4.jpg') %>" alt="Shepherd" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100015">
                            <span class="floor-text">Pomeranian</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor2-5.jpg') %>" alt="Pomeranian" />
                        </a>
                    </li>
                </ul>
            </div>

            <div class="floor-wrap">
                <h1 class="floor-title">F5 Cats</h1>
                <ul class="floor-list">
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100016">
                            <span class="floor-text">Ragdoll</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor3-1.jpg') %>" alt="Ragdoll" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100017">
                            <span class="floor-text">Short-Hair</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor3-2.jpg') %>" alt="帽子专区" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100018">
                            <span class="floor-text">Silver-Shaded</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor3-3.jpg') %>" alt="Silver-Shaded" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100019">
                            <span class="floor-text">Golden-Shaded</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor3-4.jpg') %>" alt="olden-Shaded" />
                        </a>
                    </li>
                    <li class="floor-item">
                        <a href="./list.html?categoryId=100020">
                            <span class="floor-text">Persian</span>
                            <img class="floor-img" src="<%= require('../image/floor/floor3-5.jpg') %>" alt="Persian" />
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <%= require('html-loader!./layout/footer.html')  %>
    </body>
</html>