/*
* @Author: Shawn Yang
* @Date:   2019-08-11 15:10:35
* @Last Modified by:   Shawn Yang
* @Last Modified time: 2019-08-11 15:15:48
*/
.footer{
	padding-bottom: 10px;
}
.footer .links{
	text-align: center;
	color: #666;
	line-height: 50px;
}
.footer .links .link{
    padding: 0 10px;
}
.footer .copyright{
	text-align: center;
	color: #666;
	line-height: 30px;
}