/*
* @Author: Shawn Yang
* @Date:   2019-08-20 16:39:15
* @Last Modified by:   Shawn Yang
* @Last Modified time: 2019-08-21 16:47:56
*/
.form-line{
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.form-line .label{
    display: inline-block;
    width: 60px;
    text-align: center;
}
.form-line .input{
    height: 25px;
    line-height: 25px;
    width: 200px;
    font-size: 14px;
}
.form-line .text{
	margin-left:10px;
}
.btn.btn-submit{
	margin-top:30px;
}