<div class="nav">
    <div class="w">
        <div class="user-info">
            <span class="user not-login">
                <span class="link js-login">sign in</span>
                <span class="link js-register">register</span>
<!--                 <span><a class="link js-login" href="./user-register.html">sign in2</a></span> -->
            </span>
            <span class="user login">
                <span class="link-text">
                    Welcome!
                    <span class="username"></span>
                </span>
                <span class="link js-logout">Exit</span>
            </span>
        </div>
        <ul class="nav-list">
            <li class="nav-item">
                <a class="link" href="./cart.html">
                    <i class="fa fa-shopping-cart"></i>
                    Cart(<span class="cart-count">0</span>)
                </a>
            </li>
            <li class="nav-item">
                <a class="link" href="./order-list.html">Orders</a>
            </li>
            <li class="nav-item">
                <a class="link" href="./user-center.html">My S.Y.MALL</a>
            </li>
            <li class="nav-item">
                <a class="link" href="./about.html">About S.Y.MALL</a>
            </li>
        </ul>
    </div>
</div>