<div class="notice-con">
	<div class="w">
		<p class="notice">Notice: This website is only a personal full-stack technical project. NO REAL transaction will happen!!</p>
		<p class="notice">
			Pictures and banners on this website are all come from the Internet. please go to <a class="notice-link" href="./credit.html">CREDIT</a> to check them out!<br>
			If any of the images are infringing, please contact me: 864960500 at qq dot com.
		</p>
		<p class="notice"><a class="notice-link" href="http://ysshawn.com/public/resume.pdf">Resume</a></p>
	</div>
</div>
