/*
* @Author: Shawn Yang
* @Date:   2019-08-07 09:48:00
* @Last Modified by:   Shawn Yang
* @Last Modified time: 2019-08-07 11:07:17
*/
.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #215B8D;
    text-decoration: none;
}